@import './shared/fonts';
@import './components/header';
@import './index';

html, body {
    font-family: 'Montserrat', 'Helvetica' !important;
    height: 100%;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.base-page {
    color: white;
    padding-top: 150px;
}

.absolute {
    position: absolute;
}

.self-typed {
    font-size: 31px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.4px;
}